{% extends 'base.html.twig' %}
{% block body%}
    <link rel="stylesheet" href="{{ asset('css/ajoutColis.css') }}">
    <div id="pageAccueil" >
    <!--<img src="images/prochainTrajets.png"></img> -->
        <h1> Liste des Voyageur</h1>

        <div class="container">
            <div class="row" id="annonces_row">
                {% if colis is defined %}
                    {% for m in colis %}
                        {% if m.type=='2' %}

                            <div class="col-md-4" >
                                <div id="annonce">

                                    <div style="margin-bottom: 10px">
                                        <img src="images/voyageur.png" height="200px" width="250px">
                                    </div>

                                    <div>
                                        <i class="fas fa-user" style="color: #6e6e6e"></i>
                                        <span style="margin-left: 11px"> {{ m.user.username|upper }}</span>
                                    </div>

                                    <div>
                                        <i class="fas fa-plane-departure" style="color: #1c71ff"></i>
                                        <span style="margin-left: 5px"> Départ : {{ m.villeDepart }}</span>
                                    </div>

                                    <div>
                                        <i class="fas fa-plane-arrival" style="color: #007e33"></i>
                                        <span style="margin-left: 5px"> Arrivée : {{ m.villeArrive }}</span>
                                    </div>

                                    <div>
                                        <i class="fas fa-calendar-alt " style="color: #9f105c"></i>
                                        <span style="margin-left: 11px"> Date : {{ m.dateDep|date('Y-m-d') }}</span>
                                    </div>


                                    <div class="form-group" >
                                        <a href="{{ path('jibcolis_showTrajet',{'id':m.id}) }}">
                                            <button type="button" class="btn btn-success" style="margin-top: 20px">Consulter l'annonce</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}