<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Jibcolis{% endblock %}</title>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="{{ asset('css/body.css') }}" xmlns="http://www.w3.org/1999/html">

    <style>


    </style>
</head>
<body>
<header  id="header">
    <!-- Image and text -->
    <div class="navbar navbar-expand-sm navbar-light bg-light" id="Jibcolis">
        <a class="navbar-brand" href="{{ asset('/') }}" id="Jibcolis">
            <img src="{{ asset('images/Logo4.png') }}" width="140" height="125" class="img-responsive center-block" alt="">
        </a>
        <div class="collapse navbar-collapse navbar-fixed-top " >
            <ul class="navbar-nav ml-auto" >
                <li class="nav-item active">
                    <a class="nav-link" href="{{ asset('/') }}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('jibcolis_commentCaMarche') }}"> orientation</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Annonces
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('jibcolis_voyageur') }}">Voyageur</a>
                        <a class="dropdown-item" href="{{ path('jibcolis_colis') }}">Colis</a>
                    </div>
                </li>
            </ul>
                <ul class="navbar-nav " >
                <!-- test de connection -->
                {% if not app.user %}
                    <li class="nav-item  active">
                        <a class="nav-link " href="{{ path('security_connexion') }}"> Connecter</a>
                    </li>
                    <li class="nav-item  active">
                        <a class="nav-link " href="{{ path('security_registration') }}">S'inscrire</a>
                    </li>
                {% else %}

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profil
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('security_mesVoyage') }}">Mes Voyage</a>
                            <a class="dropdown-item" href="{{ path('security_mesColis') }}">Mes Colis</a>
                            <a class="nav-link " href="{{ path('security_logout') }}">Déconnecter</a>
                        </div>
                    </li>


                {% endif %}
            </ul>
        </div>
    </div>
</header>

<div class="container">
    {% block body %}
    {% endblock %}
</div>
<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 " id="footer">

    <!-- Footer Elements -->
    <div class="footer-copyright text-center py-3" style="background-color:#00695c; color: #F5F5F5;">
        <span style="color: white">SUIVEZ-NOUS SUR : </span>
        <!--Instagram-->
        <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-1.5x"> Instagram</i>
        </a>
        <!--Linkedin -->
        <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-1.5x">Linkedin</i>
        </a>
        <!-- Facebook -->
        <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg mr-md-5 mr-3 fa-1.5x">Facebook</i>
        </a>
        <!--
        <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Search...">
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
            </div>
        </div>
        -->


        <!-- Copyright -->

        © Copyright JIBCOLIS 2019, All rights reserved
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
