<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Jibcolis{% endblock %}</title>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="{{ asset('css/body.css') }}" xmlns="http://www.w3.org/1999/html">

    <style>


    </style>
</head>
<body>
<header  id="header">
    <!-- Image and text -->


    <div class="navbar navbar-expand-lg navbar-light bg-light" id="Jibcolis">
        <a class="navbar-brand" href="{{ asset('/') }}" id="Jibcolis">
            <img src="{{ asset('images/Logo4.png') }}" width="140" height="125" class="img-responsive center-block" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <div class="nav navbar-nav ml-auto" >

                    <a class="nav-item nav-link active" href="{{ asset('/') }}">Accueil <span class="sr-only">(current)</span></a>

                    <a class="nav-item nav-link active" href="{{ path('jibcolis_commentCaMarche') }}"> orientation</a>

                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Annonces
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('jibcolis_voyageur') }}">Trajets</a>
                        <a class="dropdown-item" href="{{ path('jibcolis_colis') }}">Colis</a>
                    </div>
                </li>
            </div>
                <ul class="navbar-nav " >
                <!-- test de connection -->
                {% if not app.user %}
                    <li class="nav-item  active">
                        <a class="nav-link " href="{{ path('security_connexion') }}"> Connecter</a>
                    </li>
                    <li class="nav-item  active">
                        <a class="nav-link " href="{{ path('security_registration') }}">S'inscrire</a>
                    </li>
                {% else %}

                    <li class="nav-item dropdown active">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ asset('images/profile.png') }}" style="width: 40px; height: 40px">
                            Profil
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('security_mesVoyage') }}">Mes Trajets</a>
                            <a class="dropdown-item" href="{{ path('security_mesColis') }}">Mes Colis</a>
                            <a class="dropdown-item" href="{{ path('jibcolis_createColis') }}">Déposer +</a>
                            <a class="dropdown-item" href="{{ path('message_mesMessages') }}">messages</a>
                            <a class="dropdown-item " href="{{ path('security_logout') }}">Déconnecter</a>
                        </div>
                    </li>


                {% endif %}
            </ul>
        </div>
    </div>
</header>

<div class="container">
    {% block body %}
    {% endblock %}
</div>
<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 ">

    <!-- Footer Elements -->
    <div class="footer-copyright text-center py-3" style="background-color:#00695c; color: #F5F5F5;">
        <span style="color: white">SUIVEZ-NOUS SUR : </span>
        <!-- Facebook -->
        <a class="col-md-2" href="https://www.facebook.com/152541321265" target="_blank" style="color: white">
          |  Facebook |
        </a>
        <a class="col-md-2" href="{{ path('quiSommesNous') }}" style="color: white">
            | Qui Sommes Nous |
        </a>

        <a class="col-md-2" href="{{ path('quiSommesNous') }}" style="color: white">
            | Nos Objectifs |
        </a>
        <a class="col-md-2" href="{{ path('cgu_jibcolis') }}" style="color: white">
            | CGU |
        </a>
        <a class="col-md-2" href="https://association-addra.com/" target="_blank" style="color: white">
            | Association Addra |
        </a>
        <a class="col-md-2" href="https://association-addra.com/" target="_blank" style="color: white">
            | Contactez-Nous |
        </a>

        <p>© Copyright JIBCOLIS 2019, All rights reserved</p>
    </div>

</footer>
<!-- Footer -->
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock %}
</body>
</html>
